---
BasedOnStyle: Google
Language: Cpp
Standard: c++20

UseTab: Never
ColumnLimit: 65  # allows splitscreen on my tiny screens in my massive font

# changes to make reformatting
# just about bearable

MaxEmptyLinesToKeep: 2

SpaceBeforeParens: NonEmptyParentheses

PointerAlignment: Left
ReferenceAlignment: Left

AlignAfterOpenBracket: BlockIndent

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  BeforeCatch: true
  BeforeElse: true

InsertBraces: true

ReflowComments: false
AlignTrailingComments:
  Kind: Leave

