Checks: >
  -*,
  bugprone-*,
  misc-*,
  performance-*,
  clang-analyzer-*,
  readability-*,
  -bugprone-assignment-in-if-condition,
  -misc-include-cleaner,
  -misc-non-private-member-variables-in-classes,
  -misc-use-anonymous-namespace,
  -performance-avoid-endl,
  -readability-identifier-length,
  -readability-named-parameter,
  -readability-avoid-const-params-in-decls,
  -readability-function-cognitive-complexity,
  -bugprone-suspicious-stringview-data-usage,
  -performance-enum-size

WarningsAsErrors: ''
HeaderFilterRegex: 'src/(expos|hts|shared)/'
FormatStyle: file
